name: "Deploy Github Page"
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "functions/**"

jobs:
  deploy-gh-page:
    name: Build & Deploy Github Page
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Set up deps
        run: |
          npm install -g @vue/cli
      - name: Build & Deploy
        run: |
          $GITHUB_WORKSPACE/.github/scripts/build-gh-page.sh
